@model IEnumerable<KSAA.Master.Application.DTOs.Master.VendorCodeViewModel>

<!-- Row -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div>
            <div class="panel-heading">
                <div class="clearfix">
                    <a href="~/VendorCode/VendorCodeAdd" class="btn btn-primary btn-outline fancy-button btn-0" style="color: black; float: right;">Add Vendor Code</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <h6 class="txt-dark capitalize-font">List of Vendor Code</h6>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div>
                                <div class="panel-heading">
                                    <div class="pull-left"></div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body">
                                        <div class="table-wrap">
                                            <div class="table-responsive">
                                                <table id="datable_1" class="table table-hover display pb-30">
                                                    <thead>
                                                        <tr>
                                                            <th hidden>Id</th>
                                                            <th>Customer_Code</th>
                                                            <th>GSTN</th>
                                                            <th>Name</th>
                                                            <th>Location</th>
                                                            <th>Address</th>
                                                            @*<th>IP</th>
                                                            <th>BrowserCase</th>*@
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td hidden>
                                                                    @Html.DisplayFor(modelItem => item.Id)
                                                                </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Customer_Code)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.GSTN)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Name)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Location)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Address)
                                                            </td>
                                                            @*<td>
                                                        @Html.DisplayFor(modelItem => item.IP)
                                                        </td>
                                                        <td>
                                                        @Html.DisplayFor(modelItem => item.BrowserCase)
                                                        </td>*@
                                                            <td class="text-nowrap">
                                                                <a asp-route-id="@item.Id" asp-controller="VendorCode" asp-action="GetVendorCode" class="mr-25" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                                <a asp-route-id="@item.Id" asp-controller="VendorCode" asp-action="DeleteVendorCodes" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                    <tbody>
                                                    </tbody>

                                                    <tfoot>
                                                        <tr>
                                                            <th hidden>Id</th>
                                                            <th>Customer_Code</th>
                                                            <th>GSTN</th>
                                                            <th>Name</th>
                                                            <th>Location</th>
                                                            <th>Address</th>
                                                            @*<th>IP</th>
                                                            <th>BrowserCase</th>*@
                                                            <th>Action</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->

<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        //debugger;
        $('#datable_1').DataTable({
            "order": [[0, "desc"]]
        });


    });
</script>